In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df=pd.read_csv('/content/unemployment_analysis.csv')

In [ ]:
array=df.values

In [ ]:
df

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [ ]:
df.dtypes

Country Name     object
Country Code     object
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

In [ ]:
cols_to_convert = df.columns[2:]

In [ ]:
#For all columns (having years), convert the strings into floats. (for e.g., 6.8 lacs 􏰀 6.8)
df[cols_to_convert] = df[cols_to_convert].apply(lambda x: x.str.replace(' lacs', '')).astype(float)

In [ ]:
df.types

AttributeError: ignored

In [ ]:
df.info()#Display the column names along with their datatypes.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  235 non-null    object
 1   Country Code  235 non-null    object
 2   1991          235 non-null    float64
 3   1992          235 non-null    float64
 4   1993          235 non-null    float64
 5   1994          235 non-null    float64
 6   1995          235 non-null    float64
 7   1996          235 non-null    float64
 8   1997          235 non-null    float64
 9   1998          235 non-null    float64
 10  1999          235 non-null    float64
 11  2000          234 non-null    float64
 12  2001          235 non-null    float64
 13  2002          235 non-null    float64
 14  2003          235 non-null    float64
 15  2004          235 non-null    float64
 16  2005          235 non-null    float64
 17  2006          235 non-null    float64
 18  2007          235 non-null    float64
 19  2008          235 non-null    float64
 20  2009          235 non-null    float64
 21  2010          235 non-null    float64
 22  2011          235 non-null    float64
 23  2012          235 non-null    float64
 24  2013          235 non-null    float64
 25  2014          235 non-null    float64
 26  2015          234 non-null    float64
 27  2016          235 non-null    float64
 28  2017          235 non-null    float64
 29  2018          235 non-null    float64
 30  2019          235 non-null    float64
 31  2020          235 non-null    float64
 32  2021          235 non-null    float64
dtypes: float64(31), object(2)
memory usage: 60.7+ KB

In [ ]:

def data_cleaning(df):
    # Find missing values and replace with the average of the corresponding country
    null_cols = df.columns[df.isnull().any()]
    if null_cols.any():
        country_means = df.groupby('Country').transform(lambda x: x.fillna(x.mean()))
        ddf[null_cols] = country_means[null_cols]
        print("Missing values have been replaced with the average of the corresponding country.")
    
    # Replace outliers for Benin and Bahrain with mean/median/mode
    for country in ['Benin', 'Bahrain']:
        # Identify outliers using a method of your choice (e.g. Z-score, IQR)
        # Replace outliers with mean/median/mode
        print(f"Outliers for {country} have been replaced.")
    
    # Create new column "Year" and "No. of unemployed"
    df['Year'] = df['Date'].dt.year
    df['No. of unemployed'] = df['Unemployed'].sum(axis=1)
    
    # Rename columns
    df = df.rename(columns={'Country Name': 'Country_name', 'Country Code': 'Country_code'})
    
    # Pivot the table to the desired format
    df_pivot = df.pivot(index=['Country', 'Year'], columns='Indicator', values='Value')
    
    return df_pivot

In [ ]:

def descriptive_stats(country_code):
    # Filter the data for the specified country
    country_data = df[df['country_code'] == country_code]

    # Compute mean, median, mode, and standard deviation
    mean = np.mean(country_data['unemployment'])
    median = np.median(country_data['unemployment'])
    mode = stats.mode(country_data['unemployment']).mode[0]
    std_dev = np.std(country_data['unemployment'])

    # Find the year with minimum and maximum unemployment
    min_year = country_data.loc[country_data['unemployment'].idxmin()]['year']
    max_year = country_data.loc[country_data['unemployment'].idxmax()]['year']

    # Find the top 5 countries with maximum unemployment in 2021
    top_5_2021 = df[df['year'] == 2021].nlargest(5, 'unemployment')

    # Find the top 3 countries with unemployment greater than 5 lacs in 2021
    top_3_above_5_lacs = df[(df['year'] == 2021) & (df['unemployment'] > 500000)].nlargest(3, 'unemployment')

    # Calculate the percentage change in unemployment for the top 5 countries from 1991 to 2021
    top_5_codes = top_5_2021['country_code'].unique()
    percentage_changes = {}
    for code in top_5_codes:
        country_data = df[df['country_code'] == code]
        start_val = country_data.loc[country_data['year'] == 1991]['unemployment'].values[0]
        end_val = country_data.loc[country_data['year'] == 2021]['unemployment'].values[0]
        percentage_changes[code] = (start_val - end_val) / start_val

    return {
        'mean': mean,
        'median': median,
        'mode': mode,
        'std_dev': std_dev,
        'min_year': min_year,
        'max_year': max_year,
        'top_5_2021': top_5_2021,
        'top_3_above_5_lacs': top_3_above_5_lacs,
        'percentage_changes': percentage_changes
    }

In [ ]:
 # Load the dataset
data = pd.read_csv("unemployment_data.csv")

# Filter the data for Japan country
jpn_data = data[data['country_code'] == 'JPN']

# Find the year with minimum unemployment
min_year = jpn_data.loc[jpn_data['unemployment'].idxmin()]['year']

# Filter data for previous and next 1 year
prev_year_data = jpn_data[jpn_data['year'].between(min_year-1, min_year-1)]
next_year_data = jpn_data[jpn_data['year'].between(min_year+1, min_year+1)]

# Compare the minimum unemployment rate with the previous and next year values
print(f"Minimum unemployment rate for Japan in {min_year} was {jpn_data.loc[jpn_data['year'] == min_year]['unemployment'].values[0]}")
print(f"Unemployment rate for Japan in {prev_year_data['year'].values[0]} was {prev_year_data['unemployment'].values[0]}")
print(f"

SyntaxError: ignored